<section id="main">

  <div class="column-center">
    <h1>My Events</h1>
    <ng-container *ngFor="let event of eventParticipate$ | async">
      <div class="element">
        <div class="boutons-section">
          <button class="round-button" (click)="ButtonParticipate($event, event.id)">Me désinscrire</button>
        </div>
        <app-card-event [id]="event.id !== undefined ? event.id :0" [lieu]="event.lieu" [theme]="event.theme" [id_orga]="event.orga" [name]="event.name" [prix]="event.prix"></app-card-event>
      </div>
    </ng-container>
  </div>

</section>
