p{
  font-size: 1.5rem;
  display:inline-block;
}

.event-detail-content{
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
}

.resize {
  display: block;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 60rem;
  max-width: var(--max-width);
  height: auto;
}

.rounded {
  border-radius: 15px;
}

.center{
  margin:auto;
  text-align: center;
}

.event-title{
  font-family: font-logo;
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.title{
  font-family: font-logo;
  font-size: 2rem;
  letter-spacing: 2px;
}

.event-description{
  margin-top: 1rem;
}

.event-information{
}

.event-planner{
  font-weight: 600;
  cursor: pointer;
}

.card {
  display: block;
  border: solid 2px rgba(170, 170, 170, 0.2);
  box-sizing: content-box;
  margin:auto;
}

.rounded {
  border-radius: 15px;
}

.round-button {
  background-color: var(--second-color);
  border: none;
  border-radius: 1rem;
  color: var(--text-color);
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
  position: relative;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}

.round-button:hover {
  background-color: var(--hover-color);
  transition-duration: 0.4s;
}

.music-card {
  display:inline-block;
  border-radius: 15px;
  text-align: center;
  border: solid 2px rgb(170, 170, 170);
  padding: 5px 10px;
  margin-top: 0px;
  margin-bottom:0px;
}


